section.products > .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  grid-gap: 32px;
  margin-top: 40px;
}

section.products > h2 {
  margin-top: 40px;
}

section.products > form {
  margin-top: 40px;
}
