.navigationRow {
    display: flex;
    align-items: center;
}

.navigationRow > hr {
    color: var(--tertiary);
    height: 0px;
    width: 16px;
}

@media screen and (max-width: 1200px) {
    .navigationRow {
        display: none;
    }
}

