.sectionBar {
  display: flex;
  align-items: center;
}

.sectionBar > hr {
  flex-grow: 1;
  margin-left: 32px;
  height: 0px;
  color: var(--tertiary);
}

@media screen and (max-width: 768px) {
  .sectionBar > hr,
  .sectionBar > a {
    display: none;
  }
}
