.orderForm {
    max-height: 528px;
    max-width: 548px;
    background-color: var(--grey);
    border-radius: var(--big-radius);
    padding: 32px;
}

.orderForm > h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.orderForm > p {
    font-weight: 500;
    font-size: 40px;
    color: var(--secondary);
}

.orderForm > .price {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.orderForm > .price > span {
    font-weight: 500;
    font-size: 40px;
    color: var(--secondary);
}

.orderForm > .price > span.price {
    font-weight: 700;
    font-size: 64px;
    color: var(--primary);
    margin-left: auto;
}

.orderForm > form {
    display: flex;
    flex-direction: column;
    width: 484px;
    margin-top: 32px;
}

.orderForm > form > input[type="text"] {
    font-size: 20px;
    font-weight: 500;
    padding: 16px 32px;
    border-radius: var(--small-radius);
    border: 1px solid var(--tertiary);
    margin-bottom: 16px;
}

.orderForm > form > input[type="submit"] {
    border-radius: var(--small-radius);
    background-color: var(--blue);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 32px;
    border: none;
    margin-top: 16px;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out, 0.3s border ease-in-out;
}

.orderForm > form > input[type="submit"]:hover {
    background-color: var(--black);
    cursor: pointer;
}

.orderForm > form > input[type="submit"]:disabled {
    background: white;
    color: var(--black);
    border: 1px solid var(--black);
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .orderForm > form {
        width: 100%;
    }
    .orderForm > .price > span.price {
        font-size: 48px;
    }
}
