.count {
  display: flex;
  border: 1px solid var(--tertiary);
  border-radius: var(--small-radius);
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.count > button {
  width: 58px;
  height: 58px;
  border-radius: var(--small-radius);
  border: 1px solid var(--tertiary);
  color: var(--secondary);
  font-size: 36px;
  background-color: white;
  transition: 0.2s background-color ease-in-out;
}

.count > span {
  font-size: 20px;
  font-weight: 600;
}
