header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  padding: 30px 40px;
}

header > nav > a {
  margin: 0px 40px;
  font-weight: 500;
}

.links {
  width: 518px;
  display: flex;
  justify-content: space-between;
}

.links > a {
  text-decoration: none;
  color: black;
  transition: 0.2s color ease-in-out;
  text-align: center;
}

.links > a:hover {
  color: #0d50ff;
}

@media screen and (max-width: 750px) {
  header > nav {
    flex-direction: column;
    padding: 8px 0px;
  }

  .links {
    flex-direction: column;
    width: 100%;
  }

  .links > a {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
