section.head {
    background-image: url("/src/assets/images/head-wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -40px;
    height: 600px;
    padding: 80px 40px;
}

section.head > h1 {
    font-size: 96px;
    color: white;
    font-weight: 700;
    line-height: 105.6px;
}

section.categories {
    margin-top: 80px;
}

section.categories > .cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
    grid-gap: 32px;
}

section.discount {
    margin-top: 106px;
    background: rgb(36,81,198);
    background: linear-gradient(90deg, rgba(13,80,255,1) 0%, rgba(36,81,198,1) 35%);
    padding: 32px;
    border-radius: var(--big-radius);
}

section.discount > h2 {
    font-size: 64px;
    font-weight: 700;
    color: white;
    text-align: center;
}

section.discount > .bottom {
    display: flex;
}

section.discount > .bottom > form {
    display: flex;
    flex-direction: column;
    width: 516px;
    justify-content: center;
}

section.discount > .bottom > form > p {
    color: white;
}

section.discount > .bottom > form > input {
    font-size: 20px;
    font-weight: 600;
    padding: 16px 32px;
}

section.discount > .bottom > form > input[type="text"] {
    margin-bottom: 16px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: var(--small-radius);
}

section.discount > .bottom > form > input[type="submit"] {
    margin-top: 16px;
    transition: 0.3s background-color ease-in-out, color ease-in-out, border ease-in-out;
    border: none;
    border-radius: var(--small-radius);
}

section.discount > .bottom > form > input[type="submit"]:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

section.discount > .bottom > form > input[type="submit"]:disabled {
    background: transparent;
    color: var(--blue);
}

section.sale {
    margin-top: 80px;
}

section.sale > .discountCards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
    grid-gap: 32px;
}

@media screen and (max-width: 768px) {
    section.head > h1 {
        font-size: 52px;
        line-height: 64px;
    }

    section.discount > .bottom {
        flex-direction: column;
    }

    section.discount > .bottom > form {
        width: 100%;
    }
}

