@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
  color: #282828;
}

#root {
    --header-margin-bottom: 40px;

    --small-radius: 6px;
    --big-radius: 12px;

    --blue: #0D50FF;
    --grey: #F1F3F4;
    --black: #282828;
    --primary: #282828;
    --secondary: #8B8B8B;
    --tertiary: #DDDDDD;
}

body > #root > main > *:not(.notCentered) {
    margin: auto 40px;
}

body > #root > header {
  margin-bottom: var(--header-margin-bottom);
}
