.button {
  background-color: var(--blue);
  font-weight: 600;
  font-size: 20px;
  border-radius: var(--small-radius);
  color: white;
  border: none;
  transition:
    0.3s background-color ease-in-out,
    0.3s color ease-in-out,
    0.3s opacity ease-in-out;
  height: 58px;
}

.button:hover {
  background-color: var(--black);
  cursor: pointer;
}

.button[disabled] {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}

.button[disabled]:hover {
    cursor: default;
}
